.form{
   width: 30%;
    background-color: rgb(255, 255, 255);
    
}
body{
    background-color: rgb(245, 148, 112);
}
.a2{
    border-radius: 5%;
}
.a{
    border-radius: 8px;
    width: 200px;
    height: 30px;
}
input[type="submit"] {
width: 200px;
height: 40px;
background-color: coral;
font-size: 20px;
color: ghostwhite;
border-radius: 30px;
