.head {
    background-color: rgb(248, 28, 28);
    height: 200px;
    margin-bottom: 10px;
}
.sidybar {
    background-color: rgb(235, 231, 12);
    height: 500px;
    margin-bottom: 10px;
}
.content {
    background-color: rgb(38, 23, 235);
    height: 100px;
    margin-bottom: 10px;
}
.footer {
    background-color: rgb(14, 233, 98);
    height: 200px;
}
