body {background-color: gold;}
h2 {font-size: 30px;
color: crimson;}
h3 {font-size: 60px;
color: darkblue;}
li {color: mediumblue;
font-size: 20px;}
a {font-size: 30px;
text-decoration: none;}
img {border: mintcream;
margin: auto;
display: block;}
.p1 {color: orangered;}

    

