.Z {
    height: 200px;
    width: ;
    background-color: gold;
    margin-bottom: 10px;
    overflow: scroll                                                                                                              ;
}
.X {
    height: 300px;
    width: ;
    background-color: green;
    margin-bottom: 10px
}
.C {
    height: 200px;
    width: ;
    background-color: maroon;
    margin-bottom: 10px
}
.V {
    height: 500px;
    width: ;
    background-color: midnightblue;
}

