.box1{
    width: 100%;
    background-color: rgb(21, 255, 0);
}
.body{
    margin: 0px;
    padding: 0px;
}
.nav1{
    display: inline-block;
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.wrap{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
img{
    width: 200px;
    height: 200px;
    
}
.content{
    display: flex;

}
.img{
    display: flex;
}
@media screen and(max-width:500px){
    .content{
        display: block;

    }
    img{
        height: 100px;
        width: 100px;
        display: flex;
    }
}
